/* Dashboard Content */
.dashboard-container {
    display: flex;
    width: 100%;
}

.dashboard-content {
    /* margin-left: 240px; */
    padding: 80px 0px 20px 20px;
    /* top padding for navbar */
    background-color: #f4f6f8;
    flex-grow: 1;
    min-height: 100vh;
}