
.custom-header .p-datatable-thead>tr>th {
    background-color: rgb(24, 66, 158);
    /* light blue */
    color: #ffffff;
    text-align: center;
}

.custom-header .p-datatable-thead>tr>td {
    color: #000000;
}

.custom-header .p-datatable-tbody>tr>td {
    background-color: #ffffff !important;
    /* white */
    color: #000000 !important;
    /* black */
    text-align: left;
}