/* Header Styling */
.vehicle-header .p-datatable-thead>tr>th {
    background-color: rgb(24, 66, 158) !important;
    /* Light Blue Header */
    color: #ffffff !important;
    /* Black Text */
    text-align: center;
}

/* Body Styling */
.vehicle-header .p-datatable-tbody>tr>td {
    background-color: #ffffff !important;
    /* White Row */
    color: #000000 !important;
    /* Black Text */
    text-align: left;
}