.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color:#fff;
}

.navbar-nav a {
    background-color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: "5px";
    border-radius: 4px;
    
}