/* Sidebar */
.sidebar {
    width: 240px;
    min-height: 100vh;
    background: rgb(24, 66, 158);
    /* color: #fff; */
    display: flex;
    flex-direction: column;
    padding: 4.5rem 0.5rem;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-logo {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    /* color: #f1f2f6; */
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    display: flex;
    align-items: center;
     
     /* color: #fff; */
    gap: 12px;
    padding: 12px 20px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.sidebar-nav a {
    text-decoration: none;
    color: inherit;
    /* keeps the text color same as li */
    display: block;
    width: 100%;
}
.sidebar-nav li:hover {
    background-color: rgba(103, 103, 103, 0.1);
    transform: translateX(5px);
}



